<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sammool.board.mapper.CommentMapper">
    <insert id="save" parameterType="comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (writer, report_id, content, created_at, updated_at)
        VALUES (#{writer}, #{reportId}, #{content}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="getById" parameterType="long" resultMap="CommentMap">
        SELECT * FROM comment WHERE id=#{id}
    </select>

    <select id="getByReportId" parameterType="long" resultMap="CommentMap">
        SELECT * FROM comment WHERE report_id=#{reportId}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM comment WHERE id=#{id}
    </delete>


    <resultMap id="CommentMap" type="sammool.board.domain.Comment">
        <id property="id" column="id"/>
        <result property="writer" column="writer"/>
        <result property="content" column="content"/>
        <result property="reportId" column="report_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>
</mapper>